.topbanner {
  background-image: url(./../images/Banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1%;
  padding-top: 7%;
  margin-bottom: 5%;
  border-bottom: solid;
  color: white;
}

/* html{
  background-image: url(./../images/mainbody1.jpg);
} */
.title {
  opacity: 0.7;
  /* background-color: red; */
  font-family: Impact, Charcoal, sans-serif;
  font-size: 62px;
  font-weight: bold;
  width: auto;
  border-style: solid;
  border-width: 5px;
  line-height: 1;
  background-color: red;
  color: white;
  padding: 6px;
}

body {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-image: url("./../images/mainbody2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#startTrivia {
  opacity: .8;
  font-size: 40px;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  width: auto;
  border-style: solid;
  border-width: 5px;
  line-height: 1;
  background-color: white;
  color: black;
  padding: 6px;
}

.masterScreen {
  color: white;
}

.timer {
  font-size: 18px;
  font-weight: bold;
  height: 25px;
}

.question {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.choice1,
.choice2,
.choice3,
.choice4 {
  color: white;
  font-size: 18px;
}

.choice1:hover {
  background: rgb(255, 6, 6);
  font-size:22px;
  font-weight: bold;
}

.choice2:hover {
  background: rgb(255, 6, 6);
  font-size:22px;
  font-weight: bold;
}

.choice3:hover {
  background: rgb(255, 6, 6);
  font-size:22px;
  font-weight: bold;
}

.choice4:hover {
  background: rgb(255, 6, 6);
  font-size:22px;
  font-weight: bold;
}

.correctScreen, .incorrectScreen, .noAnsScreen {
  font-size: 60px;
  font-weight: bold;
  color: White;
}
#resetTrivia {
  opacity: .8;
  font-size: 40px;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  width: auto;
  border-style: solid;
  border-width: 5px;
  line-height: 1;
  background-color: white;
  color: black;
  padding: 6px;
}
